<section id="about-us" class="fill-height">
  <div class="container">
    <h1><strong>About Us</strong></h1>
    <h4><strong>Introduction</strong></h4>
    <p> The Tobacco Control Office of the Department of Health was established in February 2001 to enhance and coordinate Government's tobacco control efforts.</p>
    <h5><strong>Our priority functions are as follows:</strong></h5>
    <p>To act as a principal enforcement agency under the Smoking (Public Health) Ordinance (Cap. 371)</p>
    <p>To assist venue manager of statutory no smoking areas to ensure public compliance to the Smoking (Public Health) Ordinance (Cap. 371)</p>
    <p>To promote smoke-free culture and enhance compliance to the Smoking (Public Health) Ordinance (Cap. 371) through publicity and health education</p>
    <p>To coordinate the smoking cessation service of the Department of Health</p>
    <p>To assist the Food and Health Bureau in reviewing tobacco control legislation</p>
    <h5><strong>Our Vision:</strong></h5>
    <p>"To promote a smoke-free culture in Hong Kong so as to safeguard the health of the community"</p>
  </div>
</section>