<section id="quitting-smoking">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1><strong>Quitting Smoking</strong></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4"><img src='files/img/You_can_quit_smoking.jpg'/><h4><strong>You can quit smoking</strong></h4></div>
      <div class="col-sm-4"><img src='files/img/Tips_on_quitting_smoking.jpg'/><h4><strong>Tips on quitting smoking</strong></h4></div>
      <div class="col-sm-4"><img src='files/img/Drugs_for_quitting_smoking.jpg'/><h4><strong>Drugs for quitting smoking</strong></h4></div>
    </div>
     <div class="row">
      <div class="col-sm-4"><img src='files/img/Smoking_Cessation_Clinics.jpg'/><h4><strong>Smoking Cessation Clinics</strong></h4></div>
      <div class="col-sm-4"><img src='files/img/Smoking_Cessation_Hotline.jpg'/><h4><strong>Smoking Cessation Hotline</strong></h4></div>
      <div class="col-sm-4"><img src='files/img/Quit_Smoking_Mobile_App.jpg'/><h4><strong>Quit Smoking Mobile App</strong></h4></div>
    </div>
  </div>
</section>